<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
{{/*注释*/}}
    <p>u1:</p>
    <p>姓名：{{- .u1.Name -}}</p>
    <p>性别：{{.u1.Gender}}</p>
    <p>年龄：{{.u1.Age}}</p>

    <p>m1:</p>
    <p>姓名：{{.m1.name}}</p>
    <p>性别：{{.m1.gender}}</p>
    <p>年龄：{{.m1.age}}</p>

<hr>
{{$v1 := 99}}
{{$v2 := .u1.Name}}

{{if $v1 }}
v1 = {{$v1}}
{{else}}
{{$v2}}
{{end}}


</body>
</html>